<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-md-offset-2" *ngIf="action == 'add'">

            <h3 align="center">{{ formtitle }}</h3>


            <form>

                <div class="alert alert-success" *ngIf="infoMsg">
                    {{ infoMsg }}
                </div>
                <div class="alert alert-danger" *ngIf="errorMsg">
                    {{ errorMsg }}
                </div>
                <table class="table">
                    <tr>
                        <td width="200"><label>Nama Penulis</label></td>
                        <td>:</td>
                        <td width="600"><input type="text" name="author" placeholder="Masukan Nama Penulis" class="form-control" #author></td>
                    </tr>
                    <tr>
                        <td><label>Judul Buku</label></td>
                        <td>:</td>
                        <td><input type="text" name="bookname" placeholder="Masukan Nama Penulis" class="form-control" #bookname></td>
                    </tr>
                    <tr>
                        <td><label>Description</label></td>
                        <td>:</td>
                        <td><textarea style="height: 100px;" name="description" placeholder="Masukan Deskripsi" class="form-control" #description></textarea></td>
                    </tr>
                </table>



                    <div class="col-lg-12 text-right">
                        <button type="button" (click)="addBook(author.value, bookname.value, description.value)" class="btn btn-primary">Submit</button>
                        <a href="#" (click)="goBack()" class="btn btn-warning">Kembali</a>
                    </div>


            </form>

    </div>

    <div class="col-md-8 col-md-offset-2" *ngIf="action == 'edit'">


            <h3 align="center">{{ formtitle }}</h3>


            <form>
            <div *ngIf="book">
                <div class="alert alert-success" *ngIf="infoMsg">
                    {{ infoMsg }}
                </div>
                <div class="alert alert-danger" *ngIf="errorMsg">
                    {{ errorMsg }}
                </div>
                <input type="hidden" name="id" [(ngModel)]="book.id">

                <table class="table">
                    <tr>
                        <td width="200"><label>Nama Penulis</label></td>
                        <td>:</td>
                        <td width="600"><input type="text" name="author" placeholder="Masukan Nama Penulis" class="form-control" [(ngModel)]="book.author"></td>
                    </tr>
                    <tr>
                        <td><label>Judul Buku</label></td>
                        <td>:</td>
                        <td><input type="text" name="bookname" placeholder="Masukan Judul Buku" class="form-control" [(ngModel)]="book.bookname"></td>
                    </tr>
                    <tr>
                        <td><label>Description</label></td>
                        <td>:</td>
                        <td><textarea style="height: 100px;" name="description" placeholder="Masukan Deskripsi" class="form-control" [(ngModel)]="book.description"></textarea></td>
                    </tr>
                </table>
            </div>
                <div class="col-lg-12 text-right">
                    <button type="button" (click)="editBook()" class="btn btn-primary">Submit</button>
                    <a href="#" (click)="goBack()" class="btn btn-warning">Kembali</a>
                </div>
            </form>
        </div>
    </div>
</div>